In [1]:
import numpy as np # to call libraries neccessity to complete the project
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime as dt
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv') # to read the dataset
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
754,tt1436562,90000000,484635760,Rio,Jesse Eisenberg|Anne Hathaway|Leslie Mann|Jane...,Carlos Saldanha,1 out of every 8 Americans is afraid of flying...,Captured by smugglers when he was just a hatch...,96,Animation|Adventure|Comedy|Family,Blue Sky Studios|Twentieth Century Fox Animation,4/3/2011,6.5,2011
1162,tt0251736,7000000,16829545,House of 1000 Corpses,Sid Haig|Bill Moseley|Sheri Moon Zombie|Karen ...,Rob Zombie,You'll never get out alive.,Two teenage couples traveling across the backw...,89,Horror,Universal Pictures|Spectacle Entertainment Group,4/11/2003,5.8,2003
501,tt0126029,60000000,484409218,Shrek,Mike Myers|Eddie Murphy|Cameron Diaz|John Lith...,Andrew Adamson|Vicky Jenson,The greatest fairy tale never told.,It ain't easy bein' green -- especially if you...,90,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/16/2001,7.1,2001
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005
1463,tt0479143,24000000,155721132,Rocky Balboa,Sylvester Stallone|Burt Young|Milo Ventimiglia...,Sylvester Stallone,It ain't over 'til it's over.,When he loses a highly publicized virtual boxi...,102,Drama,Columbia Pictures|Revolution Studios|Rogue Mar...,12/20/2006,6.4,2006

In [24]:
data.describe() # function to describe the dataset

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'# +

In [5]:
data[data.budget == data.budget.max()]['original_title'] # to find the max budget film title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [6]:
data[data.budget == data.budget.max()]['imdb_id'] # to find the max budget film id

723    tt1298650
Name: imdb_id, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = '1157. Gods and Generals (tt0279111)' # +

In [8]:
data[data.runtime == data.runtime.max()]['original_title'] # to find the max runtime film title

1157    Gods and Generals
Name: original_title, dtype: object

In [9]:
data[data.runtime == data.runtime.max()]['imdb_id'] # to find the max runtime film id

1157    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' # +

In [11]:
data[data.runtime == data.runtime.min()]['original_title'] # to find the min runtime film title

768    Winnie the Pooh
Name: original_title, dtype: object

In [12]:
data[data.runtime == data.runtime.min()]['imdb_id'] # to find the min runtime film id

768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '110' # +

In [14]:
data.describe().loc['mean', 'runtime'] # to find the mean runtime of films in the dataset

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107' # +

In [16]:
data.describe().loc['50%', 'runtime'] # to find the median runtime of films in the dataset (50% quantile)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '239. Avatar (tt0499549)'# +

In [18]:
data[data.profit == data.profit.max()]['original_title'] # to find the most profitable film title

239    Avatar
Name: original_title, dtype: object

In [19]:
data[data.profit == data.profit.max()]['imdb_id'] # to find the most profitable film id

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'# +

In [21]:
data[data.profit == data.profit.min()]['original_title'] # to find the most unprofitable film title

1245    The Lone Ranger
Name: original_title, dtype: object

In [22]:
data[data.profit == data.profit.min()]['imdb_id'] # to find the most unprofitable film id

1245    tt1210819
Name: imdb_id, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1478'# +

In [24]:
len(data[data.revenue > data.budget]) # to find the number of profitable films in the dataset

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = '599. The Dark Knight (tt0468569)'# +

In [26]:
# to find the most revenue film title in 2008
data.loc[data.release_year.isin([2008])].sort_values(by = 'revenue', ascending = False)['original_title']

599                                      The Dark Knight
603    Indiana Jones and the Kingdom of the Crystal S...
606                                        Kung Fu Panda
621                                              Hancock
607                                           Mamma Mia!
                             ...
708                                   What Just Happened
673                                        Transsiberian
702                                   The Brothers Bloom
711                              The Midnight Meat Train
712                                    Mutant Chronicles
Name: original_title, Length: 121, dtype: object

In [27]:
# to find the most revenue film id in 2008
data.loc[data.release_year.isin([2008])].sort_values(by = 'revenue', ascending = False)['imdb_id']

599    tt0468569
603    tt0367882
606    tt0441773
621    tt0448157
607    tt0795421
         ...
708    tt0486674
673    tt0800241
702    tt0844286
711    tt0805570
712    tt0490181
Name: imdb_id, Length: 121, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'# +

In [29]:
# to find the least revenue film title in period of 2012-2014
data.loc[data.release_year.isin([2012, 2013, 2014])].sort_values(by = 'profit', ascending = True)['original_title']

1245                    The Lone Ranger
1214                           R.I.P.D.
1007                        Upside Down
1302    Legends of Oz: Dorothy's Return
1235                 Bullet to the Head
                     ...
1189                    Despicable Me 2
974                             Skyfall
1180                         Iron Man 3
1177                             Frozen
970                        The Avengers
Name: original_title, Length: 367, dtype: object

In [30]:
# to find the least revenue film id in period of 2012-2014
data.loc[data.release_year.isin([2012, 2013, 2014])].sort_values(by = 'profit', ascending = True)['imdb_id']

1245    tt1210819
1214    tt0790736
1007    tt1374992
1302    tt0884726
1235    tt1308729
          ...
1189    tt1690953
974     tt1074638
1180    tt1300854
1177    tt2294629
970     tt0848228
Name: imdb_id, Length: 367, dtype: object

# 11. Какого жанра фильмов больше всего?

In [31]:
answers['11'] = 'Drama'# -

In [32]:
data11 = data.copy() # to copy dataset to avoid errors in the dataset
data11['genres'] = data11.genres.str.split('|') # to split multiple kind of genres in the dataset in the only one 
data11= data11.explode('genres') # to add the only one genre in the every row in the dataset
data11.genres.value_counts().index[0] # to count every kind of genres and display the most

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [33]:
answers['12'] = 'Drama'# +

In [34]:
data_12 = data.copy() # to copy dataset to avoid errors in the dataset
data12 = data_12.query('revenue > budget').copy() # to find all profitable films in the dataset
data12['genres'] = data12.genres.str.split('|') # to split multiple kind of genres in the dataset in the only one
data12=data12.explode('genres') # to add the only one genre in the every row in the dataset
profit_genre = data12.genres.value_counts().index[0] # to count every kind of genres and display the most
profit_genre

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [35]:
answers['13'] = 'Peter Jackson' # +

In [36]:
data13=data.copy() # to copy dataset to avoid errors in the dataset
data13['director'] = data13.director.str.split('|') # to split multiple kind of directors in the dataset in the only one 
data13=data13.explode('director') # to add the only one director in the every row in the dataset
# to group dataset by "director's" and " sum revenue's" data and display the most sum film revenue name director
data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 'Robert Rodriguez' # +

In [38]:
data14 = data[data.genres.str.contains('Action')].copy() # to copy dataset contains "Action" genre 
data14.director = data14.director.str.split('|') # to split multiple kind of directors in the dataset in the only one 
data14 = data14.explode('director') # to add the only one director in the every row in the dataset 
# to count every name of directors and display the most "Action" productive name director
data14.director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
answers['15'] = 'Chris Hemsworth' # +

In [40]:
# to copy dataset contains revenue in 2012
data15 = data15.loc[data15.release_year.isin([2012])].sort_values(by = 'revenue', ascending = True).copy()
data15.cast = data15.cast.str.split('|') # to split multiple kind of actors in the dataset in the only one 
data15 = data15.explode('cast') # to add the only one actor in the every row in the dataset 
# to group dataset by "actor" and " sum revenue" data and display the most sum film revenue name actor
data15.groupby('cast').revenue.sum().idxmax()

NameError: name 'data15' is not defined

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [64]:
answers['16'] = 'Matt Damon' # +

In [65]:
data16 = data.copy() # to copy dataset to avoid errors in the dataset
data16 = data16.query('budget > budget.mean()') # to find the all high-budget films in the dataset
data16['cast'] = data16.cast.str.split('|') # to split multiple kind of actors in the dataset in the only one 
data16=data16.explode('cast') # to add the only one actor in the every row in the dataset    
# to count every name of actors and display the most high-budget film name actor
data16.cast.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [71]:
answers['17'] = 'Action' # +

In [72]:
data17 = data.copy() # to copy dataset to avoid errors in the dataset
data17 = data17[data17.cast.str.contains('Nicolas Cage')] # to find all films with Nicolas Cage in the dataset
data17.genres = data17.genres.str.split('|')  # to split multiple kind of genres in the dataset in the only one
data17 = data17.explode('genres') # to add the only one genre in the every row in the dataset
data17.genres.value_counts().index[0] # to count every kind of genres and display the most frequently encountered

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [73]:
answers['18'] = 'K-19: The Widowmaker' # +

In [74]:
data18 = data.copy()  # to copy dataset to avoid errors in the dataset
# to find all Paramount Pictures films in the dataset
data18 = data18[data18.production_companies.str.contains('Paramount Pictures')] 
# to group dataset by "original_title" and " profit" data and display the the most unprofitable film
data18.groupby(['original_title'])['profit'].min().sort_values(ascending=True).index[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [75]:
answers['19'] = '2015' # +

In [76]:
data19 = data.copy() # to copy dataset to avoid errors in the dataset
# to group dataset by "release_year" and "sum revenue" data and display the the most revenue year
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [77]:
answers['20'] = '2011' # +

In [78]:
data20 = data.copy() # to copy dataset to avoid errors in the dataset
# to find all Warner Bros films in the dataset
data20 = data20[data20.production_companies.str.contains('Warner Bros')]
# to group dataset by "release_year" and "profit" data and display the most profitable year
data20.groupby(['release_year'])['profit'].max().sort_values(ascending=False).index[0]

2011

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [79]:
answers['21'] = 'September' # +

In [80]:
data21 = data.copy() # to copy dataset to avoid errors in the dataset
data21.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y')) # to set date format
data21.release_date = data21.release_date.apply(lambda x: x.strftime('%B')) # to left only name's month's
num1 = data21.query('release_date in ["January"]').shape[0] # to find the film number in January
num2 = data21.query('release_date in ["June"]').shape[0] # to find the film number in June
num3 = data21.query('release_date in ["December"]').shape[0] # to find the film number in December
num4 = data21.query('release_date in ["September"]').shape[0] # to find the film number in September
num5 = data21.query('release_date in ["May"]').shape[0] # to find the film number in May
print('В январе за отчетный период суммарно выпущено - ', num1, 'фильмов')
print('В июне за отчетный период суммарно выпущено - ', num2, 'фильмов')
print('В декабре за отчетный период суммарно выпущено - ', num3, 'фильмов')
print('В сентябре за отчетный период суммарно выпущено - ', num4, 'фильмов')
print('В мае за отчетный период суммарно выпущено - ', num5, 'фильмов')

В январе за отчетный период суммарно выпущено -  110 фильмов
В июне за отчетный период суммарно выпущено -  147 фильмов
В декабре за отчетный период суммарно выпущено -  190 фильмов
В сентябре за отчетный период суммарно выпущено -  227 фильмов
В мае за отчетный период суммарно выпущено -  140 фильмов

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [81]:
answers['22'] = '450' # +

In [82]:
data22 = data.copy() # to copy dataset to avoid errors in the dataset
data22['release_date'] = pd.to_datetime(data22['release_date']) # to set date format
data22.release_date = data22.release_date.apply(lambda x: x.strftime('%B')) # to left only name's month's
data22.query('release_date in ["June", "July", "August"]').shape[0] # to find the film number in June, July, August

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [83]:
answers['23'] = 'Peter Jackson' # +

In [84]:
data_23 = data.copy() # to copy dataset to avoid errors in the dataset
data_23.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y')) # to set date format
data_23.release_date = data_23.release_date.apply(lambda x: x.strftime('%B')) # to left only name's month's
# to find all films in December, January, February
data_23 = data_23.query('release_date in ["December", "January", "February"]') 
data_23['director'] = data_23.director.str.split('|') # to split multiple kind of directors in the dataset in the only one 
data_23 = data_23.explode('director') # to add the only one director in the every row in the dataset 
# to group dataset by "director" and "imdb_id" data and display the most productive name director in winter's month's
data_23.groupby(['director'])['imdb_id'].count().sort_values(ascending = False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [85]:
answers['24'] = 'Four By Two Productions' # +

In [86]:
data24 = data.copy() # to copy dataset to avoid errors in the dataset
# to split multiple kind of production companies in the dataset in the only one 
data24['production_companies'] = data24.production_companies.str.split('|') 
data24 = data24.explode('production_companies') # to add the only one name of production company in the every row in the dataset 
data24['title_len'] = data24['original_title'].apply(len) # to find all titles length
# to group dataset by "production_companies" and "title_len" data and display the production company with the most title length films
data24.groupby('production_companies').title_len.mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [87]:
answers['25'] = 'Midnight Picture Show' # +

In [88]:
data25 = data.copy() # to copy dataset to avoid errors in the dataset
# to split multiple kind of production companies in the dataset in the only one 
data25['production_companies'] = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies') # to add the only one name of production company in the every row in the dataset 
def len_words(s): # to call the len_word function
    return len(s.split(' ')) # to split using ' '
# to create the pivot table and find the production company with the most overview length films
data25['overview_len'] = data25.overview.apply(len_words)  
data25.pivot_table(['overview_len'],['production_companies'], 
                   aggfunc='mean').sort_values(by='overview_len',                                              
                                            ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [89]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

In [90]:
data26 = data.copy() # to copy dataset to avoid errors in the dataset
# to find the best 1% vote average films using 99% quantile
data26[data26['vote_average'] > data26['vote_average'].quantile(q=0.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [91]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' # +

In [92]:
data27 = data.copy() # to copy dataset to avoid errors in the dataset
# to split multiple kind of name actors in the dataset in the two 
data27['cast'] = data27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data27_1 = data27.explode('cast') # to add two names of actors in the every row in the dataset  
data27_1.cast.value_counts() # to count

(Daniel Radcliffe, Emma Watson)              8
(Daniel Radcliffe, Rupert Grint)             8
(Rupert Grint, Emma Watson)                  7
(Johnny Depp, Helena Bonham Carter)          6
(Ben Stiller, Owen Wilson)                   6
                                            ..
(Maggie Grace, Katie Cassidy)                1
(Jennifer Aniston, Kevin Spacey)             1
(Arnold Schwarzenegger, Michael Rapaport)    1
(Rinko Kikuchi, Robbie Coltrane)             1
(Kristen Wilson, Raven-SymonÃ©)              1
Name: cast, Length: 18121, dtype: int64

# Submission

In [96]:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2011',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint',
 '16': 'Matt Damon',
 '17': 'Action'}

In [97]:
len(answers)

27